name: Build icons and Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install
        working-directory: .   

      - name: Build icons
        run: node custom-icons-builder.js
        working-directory: .   

      - name: Archive dist
        run: zip -r dist.zip dist

      - name: Determine new version
        id: version
        run: |
          YEAR=$(date +'%Y')
          MONTH=$(date +'%m')

          LAST=$(gh release list --limit 1 | awk '{print $1}')

          if [[ -z "$LAST" ]]; then
            NEW="${YEAR}.${MONTH}.0"
          else
            BASE=$(echo "$LAST" | cut -d. -f1-2)
            NUM=$(echo "$LAST" | cut -d. -f3)
            if [[ "$BASE" == "${YEAR}.${MONTH}" ]]; then
              NUM=$((NUM+1))
              NEW="${YEAR}.${MONTH}.${NUM}"
            else
              NEW="${YEAR}.${MONTH}.0"
            fi
          fi

          echo "version=$NEW" >> "$GITHUB_OUTPUT"

      - name: Generate Release Notes
        id: notes
        run: |
          NOTES=$(cat << 'EOF'
> [!NOTE]  
> Thanks, as always, to the precious contribution to @rchiileea for the creation of the required icons!

> [!TIP]
> The new icon viewer is available - [icone finder](https://elax46.github.io/custom-brand-icons/)

| Icon | Name |
|------|:--------------:|
|![Preview](https://raw.githubusercontent.com/elax46/custom-brand-icons/main/icon-svg/airgradient-alt.svg) | airgradient-alt |
|![Preview](https://raw.githubusercontent.com/elax46/custom-brand-icons/main/icon-svg/hood-extraction.svg) | hood-extraction |

EOF
)
          echo "notes<<EOF" >> "$GITHUB_OUTPUT"
          echo "$NOTES" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          name: ${{ steps.version.outputs.version }}
          body: ${{ steps.notes.outputs.notes }}
          files: dist.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
